<% @average_difficulty_level, level_colors = @paper.average_difficulty_level %>
<script type="text/javascript">
  var level_colors = JSON.parse("<%=raw escape_javascript(level_colors.to_json) %>");
</script>
<div class="row report-section-container avg-difficulty-per-set">
  <div class="col-sm-12">
    <div class="report-section-container-inner">
      <div class="report-section-heading">average difficulty level per set</div>
      <div class="report-section-content">
        <div class="row">
          <div class="col-sm-9">
            <div class="graph-content">
              <div id="average-difficulty-level-graph" style="height: 350px; background-color: transparent;"></div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="content">
              <div class="box-3">
                <div>Set I</div>
                <div>
                  <% range_text = @paper.get_range_text(@average_difficulty_level[0]) %>
                  <div class="<%= range_text.split(" ").join("-").downcase %>" style="color: <%= @average_difficulty_level[0]['color'] %>; font-weight: 900;">
                    <%= range_text %>
                  </div>
                </div>
              </div>
              <div class="box-3">
                <div>Set II</div>
                <div>
                  <% range_text = @paper.get_range_text(@average_difficulty_level[1]) %>
                  <div class="<%= range_text.split(" ").join("-").downcase %>" style="color: <%= @average_difficulty_level[1]['color'] %>; font-weight: 900;">
                    <%= range_text %>
                  </div>
                </div>
              </div>
              <div class="box-3">
                <div>Set III</div>
                <div>
                  <% range_text = @paper.get_range_text(@average_difficulty_level[2]) %>
                  <div class="<%= range_text.split(" ").join("-").downcase %>" style="color: <%= @average_difficulty_level[2]['color'] %>; font-weight: 900;">
                    <%= range_text %>
                  </div>
                </div>
              </div>
              <div class="box-3">
                <div>Set VI</div>
                <div>
                  <% range_text = @paper.get_range_text(@average_difficulty_level[3]) %>
                  <div class="<%= range_text.split(" ").join("-").downcase %>" style="color: <%= @average_difficulty_level[3]['color'] %>; font-weight: 900;">
                    <%= range_text %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
