<div class="row report-section-container avg-time-per-set">
  <div class="col-sm-12 col-xs-12">
    <div class="report-section-container-inner">
      <div class="report-section-heading">average time per question (set-wise)</div>
      <div class="report-section-content">
        <div class="row">
          <div class="col-sm-3 col-xs-3">
            <div class="content">
              <% section_name = ["I", "II", "III", "IV"] %>
              <% set_info = ["Question no. 1-10", "Question no. 11-20", "Question no. 21-30", "Question no. 31-41"]%>
              <% @average_time_per_question.each_with_index do |dt, inx| %>
                <% sec_name = section_name[inx] %>
                <% sec_correct_data = dt %>
                <div class="box-3">
                  <div>
                    <div>Set <%= sec_name %></div>
                    <div class="small-text"><%= set_info[inx] %></div>
                  </div>
                  <div>
                    <div>
                      <div class="text-s-5">
                        <%= sec_correct_data["data"][0][:avg_time].gsub(" Minutes", "") %>
                      </div>
                      <div class="text-s-1">
                        Mins
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <% css = params[:format] == "pdf" ? " width: 290px;" : "" %>
          <div class="col-sm-9 col-xs-9">
            <div class="graph-content">
              <div class="row">
                <% @average_time_per_question.each do |section_data| %>
                  <% sec_name_id = section_data["section_name"].split(" ").join("-") %>
                  <div class="col-sm-3 col-xs-3">
                    <div id="avg-time-per-question-graph-<%= sec_name_id %>" style="height: 220px;<%= css %> background-color: transparent;"></div>
                    <div class="font-14 text-center bold">
                      <%= section_data["data"][0][:avg_time] %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="row margin-t-10 color-medium-gray">
              <div class="col-sm-12">
                <p>Average time per question set wise shows the average time you spent on a question in a particular set.</p>
                <p>The recommended time per question is 01:49 minutes. If the time spent is less than the recommended limit, the corresponding graph will be blue in colour; otherwise the colour of the graph will be red. In order to perform well on the exam, you should distribute your time evenly to all the sets. Excessive time spent in any one set of the exam will affect the time available for the next set of questions.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
