<% @correct_incorrect_graph_data = @paper.correct_incorrect_graph_data %>
<% @correct_group = @correct_incorrect_graph_data[:series].detect{|grp| grp[:name] == "Correct"} %>
<% if @correct_group.blank? %>
  @correct_group = [0, 0, 0, 0]
<% end %>
<div class="alwaysbreak"></div>
<div class="row report-section-container percent-correct-incorrect">
  <div class="col-sm-12 col-xs-12">
    <div class="report-section-container-inner">
      <div class="report-section-heading">performance in percentage</div>
      <div class="report-section-content">
        <div class="row">
          <div class="col-sm-3 col-xs-3">
            <div class="box-1">
              <div>
                correct answers
              </div>
              <div class="color-green">
                <%= percent_correct_overall = @paper.correct_percent_overall %><span class="percent-text">%</span>
              </div>
            </div>
            <div class="box-1">
              <div>
                incorrect answers
              </div>
              <div class="color-g-orange">
                <%= 100 - percent_correct_overall %><span class="percent-text">%</span>
              </div>
            </div>
            <div class="explanation-head">
              Explanation
            </div>
            <div class="explanation-text">
              You correctly answered <%= percent_correct_overall %>% of the total set of questions. 
            </div>
          </div>
          <div class="col-sm-6 col-xs-6">
            <div class="graph-content">
              <div id="percent-correct-incorrect-graph" style="height: 300px; background-color: transparent;"></div>
            </div>
          </div>
          <div class="col-sm-3 col-xs-3">
            <div class="content">
              <div class="box-3">
                <div>Set I</div>
                <div>
                  <div class="text-s-5">
                    <%= @correct_group[:data][0] %><span class="percent-text">%</span>
                  </div>
                </div>
              </div>
              <div class="box-3">
                <div>Set II</div>
                <div>
                  <div class="text-s-5">
                    <%= @correct_group[:data][1] %><span class="percent-text">%</span>
                  </div>
                </div>
              </div>
              <div class="box-3">
                <div>Set III</div>
                <div>
                  <div class="text-s-5">
                    <%= @correct_group[:data][2] %><span class="percent-text">%</span>
                  </div>
                </div>
              </div>
              <div class="box-3">
                <div>Set IV</div>
                <div>
                  <div class="text-s-5">
                    <%= @correct_group[:data][3] %><span class="percent-text">%</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
