<div class="panel panel-default">
  <div class="panel-heading accordion-control unselectable" role="tab" id="heading-<%= panel_name %><%= uniq_str %><%= index + 1 %>" data-toggle="collapse" data-parent="#<%= accordion_id %>" data-target="#collapse-<%= panel_name %><%= uniq_str %><%= index + 1 %>" aria-controls="collapse-<%= panel_name %><%= uniq_str %><%= index + 1 %>">
    <h4 class="panel-title">
      <%= panel_heading %> <%= index + 1 %>
    </h4>
  </div>
  <div id="collapse-<%= panel_name %><%= uniq_str %><%= index + 1 %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-<%= panel_name %><%= uniq_str %><%= index + 1 %>">
    <div class="panel-body">
      <div class='row'>
        <div class="col-xs-11 col-sm-11 col-sm-offset-1 col-xs-offset-1">
          <%= render form_partial, {f: f} %>
        </div>
      </div>
    </div>
  </div>
</div>