<div class="heading-part">
  <div class="heading">
    <span>
      Ready to take on the GMAT?
    </span>
  </div>
  <!--div class="sub-heading">
    One of the most reliable online verbal GMAT tests. More than 3000 tests taken.
  </div-->
</div>
<div class="content-part">
  <div class="row">
    <div class="col-sm-12">
      <div class="row content-row">
        <div class="col-sm-12">
          <div class="content-box">
            <div class="content-box-inner">
              <div class="row">
                <div class="col-sm-4 hidden-sm hidden-xs">
                  <div class="content-image content-image-1">
                    <%= image_tag "overview/stopwatch.png", alt: "stopwatch", width: "50%" %>
                  </div>
                </div>
                <div class="col-sm-8">
                  <div class="content-heading content-heading-1 ch-right">
                    Take GMAT verbal practice tests under timed condition.
                  </div>
                  <div class="content-image content-image-1 hidden-lg hidden-xl hidden-md">
                    <%= image_tag "overview/stopwatch.png", alt: "stopwatch", width: "50%" %>
                  </div>
                  <div class="content-text text-justify ct-right">
                    Are you still using stop watch to know the average time you take to answer a reading comprehension question? Not sure how you will perform on the test day? If your GMAT exam is nearby, GMATRIC is the right platform to know what you are going to score.

                    GMATRIC checks your capabilities and provides the most realistic feedback of your performance. Don’t expect a miracle on the test day. Learn from your Detailed Score Report. Keep learning. Keep improving.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row content-row">
        <div class="col-sm-12">
          <div class="content-box">
            <div class="content-box-inner">
              <div class="row">
                <div class="col-sm-8">
                  <div class="content-heading  content-heading-2 ch-left">
                    Unique Computer Adaptive tests to accurately measure your verbal ability.
                  </div>
                  <div class="content-image content-image-2 hidden-lg hidden-xl hidden-md">
                    <%= image_tag "overview/accurate_score.png", alt: "accurate_score", width: "50%" %>
                  </div>
                  <div class="content-text text-justify ct-left">
                    Not sure about the accuracy of the test? Take the free GMATRIC test and compare your score with your latest GMATprep or real GMAT score. You will be amazed how close the two scores are. Don’t take our word for it. Try yourself. 
                  </div>
                </div>
                <div class="col-sm-4 hidden-sm hidden-xs">
                  <div class="content-image content-image-2">
                    <%= image_tag "overview/accurate_score.png", alt: "accurate_score", width: "50%" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row content-row">
        <div class="col-sm-12">
          <div class="content-box">
            <div class="content-box-inner">
              <div class="row">
                <div class="col-sm-4 hidden-sm hidden-xs">
                  <div class="content-image content-image-3">
                    <%= image_tag "overview/official_questions.png", alt: "official_questions", width: "50%" %>
                  </div>
                </div>
                <div class="col-sm-8">


                  <div class="content-heading content-heading-3 ch-right hidden-sm hidden-xs">
                    Question from the GMATprep software
                  </div>
                  <div class="content-heading content-heading-3 ch-right hidden-lg hidden-xl hidden-md text-center">
                    Question from the GMATprep software
                  </div>
                  <div class="content-image content-image-3 hidden-lg hidden-xl hidden-md">
                    <%= image_tag "overview/official_questions.png", alt: "official_questions", width: "50%" %>
                  </div>
                  <div class="content-text text-justify ct-right">
                    It’s useless imitating official questions because official questions are well, official. This is why we use the real, free GMATprep questions in our tests. If you believe you have studied the core concepts thoroughly, you need to put yourself under pressure. Perform well in exam like conditions and nothing will stop you from scoring well on the real GMAT exam.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row content-row">
        <div class="col-sm-12">
          <div class="content-box">
            <div class="content-box-inner">
              <div class="row">
                <div class="col-sm-8">
                  <div class="content-heading content-heading-4 ch-left hidden-sm hidden-xs">
                    Detailed Score Report
                  </div>
                  <div class="content-heading content-heading-4 ch-left hidden-lg hidden-xl hidden-md text-center">
                    Detailed Score Report
                  </div>
                  <div class="content-image content-image-4 hidden-lg hidden-xl hidden-md">
                    <%= image_tag "overview/score_report.gif", alt: "score_report", width: "50%" %>
                  </div>
                  <div class="content-text text-justify ct-left">
                    So you have given the test, now what? GMATRIC test gives you the opportunity to spot your areas of weakness. How you managed under stress is recorded in the the detailed score report. One thorough study of the report and you will understand why you are still not getting your target score. Make sure you give it the attention it deserves. Why? Because this two page report is your golden key to success.
                  </div>
                </div>
                <div class="col-sm-4 hidden-sm hidden-xs">
                  <div class="content-image content-image-4">
                    <%= image_tag "overview/score_report.gif", alt: "score_report", width: "50%" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>