<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <%= simple_form_for @enquiry, url: post_contact_us_path do |f| %>
      <%= f.input :title %>
      <%= f.input :email %>
      <%= f.input :phone %>
      <%= f.input :message %>
      <%= f.button :submit, "Post your enquiry" %>
    <% end %>
  </div>
</div>