<div class="row">
  <%= render "candidates/sidebar", {active: "remaining-tests"} %>
  <div class="col-sm-8">
    <div class="row">
      <div class="col-sm-12">
        <div class="candidate-content">
          <% if @plans.present? %>
            <div class="row">
              <% @plans.each do |plan| %>
                <div class="col-sm-4">
                  <div class="plan-box" data-planid="<%= plan.id %>">
                    <div class="head"><%= plan.name %></div>
                    <div class="plan-content">
                      <div class="plan-row">
                        <span class="plan-label">
                          Total Papers:
                        </span>
                        <span class="plan-value">
                          <%= plan.paper_count %>
                        </span>
                      </div>

                      <div class="plan-row">
                        <span class="plan-label">
                          Plan period:
                        </span>
                        <span class="plan-value">
                          <%= plan.interval_count == 0 ? 'Unlimited' : "#{plan.interval_count} #{plan.interval.downcase.pluralize}" %>
                        </span>
                      </div>
                    </div>
                    <div class="plan-purchase" id="plan-purchase-div-<%= plan.id %>">
                      <div id="paypal-button-<%= plan.id%>"></div>
                      <% if RedisConfig.payu_enabled? %>
                        <div class="text-center">OR</div>
                        <%= link_to payment_init_url(payment_method: "payu", plan_id: plan.id, format: :js), remote: true, method: :post, class: "btn btn-primary" do %>
                          Pay using Payu
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          <% else %>
            <div class="row">
              <div class="row top-msg">
                <div class="col-sm-12">
                  <div class="text-center font-16">
                    No more plans available for you to buy.
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<% content_for :bottom_js do %>
  <script type="text/javascript">
    var init_payment_url = "<%= payment_init_url('___payment_method___', '___plan_id___', format: :json) %>";
    paypal.request.addHeaderBuilder(function () {
      return {
        'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
      };
    });
    $(".plan-box").each(function(){
      var plan_id = $(this).data("planid");
      var payment_method = "paypal";
      paypal.Button.render({
        env: "<%= ENV['PAYPAL_MODE'] %>",
        commit: true,
        client: {
          sandbox: '<%= ENV["PAYPAL_SANDBOX_CLIENT_ID"] %>',
          production: '<%= ENV["PAYPAL_PRODUCTION_CLIENT_ID"] %>'
        },
        payment: function(data, actions) {
          var CREATE_URL = init_payment_url.replace("___payment_method___", payment_method).replace("___plan_id___", plan_id);
          return paypal.request.post(CREATE_URL).then(function(res) {
            return res.payment_id;
          });
        },
        onAuthorize: function(data, actions) {
          return actions.payment.execute().then(function() {
            window.location.href = data.returnUrl;
          });
        },
        onError: function(err) {
          debugger;
            // Show an error page here, when an error occurs
        }
      }, '#paypal-button-' + plan_id);
    });
  </script>
<% end %>
