<% finished_test_count = current_user.completed_test_count %>
<style type="text/css">
  <% if finished_test_count > 3 %>
    .candidate-content{
      padding-top: 0px;
    }
  <% end %>
  .top-msg{
    margin-bottom: 14px;
  }
  .test-result-box{
    border: solid 1px #efefef;
    padding: 15px;
  }
  .test-result-box .upper{
    display: inline-block;
    width: 100%;
  }
  .test-date-time{

  }
  .test-score{

  }
  .view-report-btn{
    border: solid 1px #2196f3;
    background-color: #fff;
    font-size: 14px;
    line-height: 14px;
    padding-top: 13px;
    padding-bottom: 13px;
    width: 100%;
    color: #2196f3;
    font-family: 'LatoBold';
    display: inline-block;
  }
  .line-height-16{
    line-height: 12px;
  }
  .line-height-12{
    line-height: 12px;
  }
  .margin-t-18{
    margin-top: 18px;
  }
  .margin-t-15{
    margin-top: 15px;
  }
  .margin-t-5{
    margin-top: 5px;
  }
  .margin-t-7{
    margin-top: 7px;
  }
  .margin-t-9{
    margin-top: 9px;
  }
  .margin-t-3{
    margin-top: 3px;
  }
  .margin-b-15{
    margin-bottom: 15px;
  }
</style>
<div class="row">
  <%= render "candidates/sidebar", {active: "completed-tests"} %>
  <div class="col-sm-8">
    <div class="candidate-content">
      <div class="row">
      <div class="col-sm-12">
        <div class="row top-msg">
          <div class="col-sm-12">
            <div class="text-center font-16">
              You have completed <%= finished_test_count %> tests
            </div>
          </div>
        </div>
        <% completed_tests = current_user.completed_tests %>
        <% if finished_test_count == 1 %>
          <% extra_class_first_element = "col-sm-offset-4" %>
        <% elsif finished_test_count == 2 %>
          <% extra_class_first_element = "col-sm-offset-2" %>
        <% else %>
          <% extra_class_first_element = "" %>
        <% end %>
        <% inx = 0 %>
        <% completed_tests.each_slice(3) do |tests| %>
          <div class="row">
            <% tests.each do |test| %>
              <div class="col-sm-4 margin-b-15 margin-t-15 <%= extra_class_first_element if inx.zero? %>">
                <div class="test-result-box">
                  <div class="upper">
                    <div class="pull-left">
                      <div class="test-name font-16 line-height-16">
                        Test <%= "%02d" % (inx + 1) %>
                      </div>
                      <div class="test-score font-16 line-height-16 margin-t-9">
                        Score : <%= test.calculate_score %>
                      </div>
                    </div>
                    <div class=" pull-right">
                      <div class="test-date-time font-12 line-height-12">
                        <%= test.start_time.strftime("%d %b, %Y") %>
                      </div>
                      <div class="test-date-time font-12 line-height-12 margin-t-3">
                        <%= test.start_time.strftime("%I:%M %p") %>
                      </div>
                    </div>
                  </div>
                  <div class="lower text-center margin-t-18">
                    <%= link_to "View Report", report_charts_path(test.id), class: 'view-report-btn' %>
                  </div>
                </div>
              </div>
              <% inx += 1 %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

@finished_tests