<%= content_for :extra_css do %>
  <%= stylesheet_link_tag "papers" %>
<% end %>
<%= content_for :body_classes do %>paper_body<% end %>
<%= content_for :navbar_classes do %>navbar-fixed-top<% end %>
<%= content_for :main_container_classes do %>paper_container<% end %>
<div class="form-horizontal height-100">
  <div class="row height-100 thick-border-lr">
    <div class="col-sm-12 col-xs-12 col-md-12 height-100 border-color-blue border-t-0 border-20 border-b-60">
      <div class="row" style="position: fixed; width: 100%; margin-left: -15px; padding-right: 240px;">
        <div class="col-sm-12 col-xs-12 col-md-12 bg-blue color-white padding-5">
          <b class="color-white pull-left"></b>
          <div class="pull-right">
            &nbsp;
          </div>
        </div>
      </div>
      <div class="row" style="position: fixed; width: 100%; margin-left: -15px; padding-right: 240px; margin-top: 27px;">
        <div class="col-sm-12 col-xs-12 col-md-12 bg-light-blue color-white padding-5">
          <div class="row">
            <div class="col-sm-6 col-xs-6 col-md-6">
              <div class="pull-left">
                <span>
                  &nbsp;
                </span>
              </div>
            </div>
            <div class="col-sm-6 col-xs-6 col-md-6">
              <div class="pull-right">
                &nbsp;
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row height-100" style="padding-top: 67px;">
        <div class="col-sm-12 col-xs-12 col-md-12 height-100" style="overflow-y: scroll;">
          <div class="bg-white">
            <div class="row paper-init-container">
              <div class="col-sm-8 col-sm-offset-2">
                <div class="heading-text underline margin-b-20 text-center">
                  GMATRIC score report
                </div>
                <table class="table table-bordered margin-b-15">
                  <tr>
                    <th>Verbal Score</th>
                    <th>Percentile</th>
                  </tr>
                  <tr>
                    <td width="60%"><%= @paper.calculate_score %></td>
                    <td width="40%"><%= @paper.percentile %>%</td>
                  </tr>
                </table>
                <table class="table table-bordered margin-b-15">
                  <tr>
                    <th colspan="2">Breakdown of score</th>
                  </tr>
                  <tr>
                    <th width="60%">Questions answered correctly</th>
                    <td width="40%">
                      <%= @paper.papers_questions.joins("INNER JOIN options ON options.id=papers_questions.option_id").where("options.correct=?", true).count %>
                    </td>
                  </tr>
                  <tr>
                    <th width="60%">Questions answered incorrectly</th>
                    <td width="40%">
                      <%= @paper.papers_questions.joins("INNER JOIN options ON options.id=papers_questions.option_id").where("options.correct=?", false).count %>
                    </td>
                  </tr>
                  <tr>
                    <th width="60%">Questions not attempted</th>
                    <td width="40%">
                      <%= Paper::QUESTION_COUNT - @paper.papers_questions.count %>
                    </td>
                  </tr>
                  <tr>
                    <th width="60%">Total questions attempted</th>
                    <td width="40%">
                      <%= @paper.papers_questions.count %>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="position: fixed; width: 100%; margin-left: -15px; padding-right: 240px; margin-top: 27px; bottom: 20px;">
        <div class="col-sm-12 col-xs-12 col-md-12 bg-light-blue color-white padding-5">
          <div class="bg-light-blue">
            <a type="button" class="btn btn-sm btn-primary pull-right show-score" style="display: block;" href="<%= root_path %>">Go to home page</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>