<div class="row height-100 thick-border-lr">
  <div class="col-sm-12 col-xs-12 col-md-12 height-100 border-color-blue border-t-0 border-20 border-b-60">
    <div class="row bg-blue" style="position: absolute; width: 100%; margin-left: -15px;">
      <div class="col-sm-12 col-xs-12 col-md-12 color-white padding-5">
        <% if @paper_question.paper_id.present? %>
          <b class="color-white pull-left">Test Exam <%= @paper_question.paper.subscription.papers.count %></b>
        <% end %>
        <% if current_user.is_manish? %>
          <div class="pull-right">
            <% if @paper_question.paper.present? %>
              <b>Paper ID</b> : <%= @paper_question.paper.id %>
            <% end %>
            <b>Level</b> : <b><%= @paper_question.question.level %></b>
            <b>Category</b> : <b><%= @paper_question.question.category %></b>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row bg-light-blue" style="position: absolute; width: 100%; margin-left: -15px; margin-top: 27px;">
      <div class="col-sm-12 col-xs-12 col-md-12 color-white padding-5">
        <div class="row">
          <div class="col-sm-6 col-xs-6 col-md-6">
            <div class="pull-left">
              <span>
                <span class="hidden-xs">Question </span><%= @paper_question.question_number %> of <%= Paper::QUESTION_COUNT%>
              </span>
            </div>
          </div>
          <div class="col-sm-6 col-xs-6 col-md-6">
            <div class="pull-right">
              <span class="hidden-xs">
                Time Remaining
              </span>
              <span id="timer" style="">
                <% if @paper_question.paper.present? %>
                  <%= @paper_question.paper.formatted_remaining_time %>
                <% end %>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row height-100" style="padding-top: 60px;">
      <% if @paper_question.passage_question? %>
        <%= render partial: "papers/passage_question", locals: {f: f} %>
      <% else %>
        <%= render partial: "papers/question", locals: {f: f} %>
      <% end %>
    </div>
    <div class="row bg-light-blue" style="position: absolute; width: 100%; margin-left: -15px;">
      <div class="col-sm-12 col-xs-12 col-md-12 color-white padding-5">
        <div class="bg-light-blue">
          <button type="button" class="btn btn-sm btn-primary pull-right wait-btn" style="display: block;">Please wait...</button>
          <% if @paper_question.question_number.blank? || @paper_question.question_number < 41 %>
            <button type="submit" class="btn btn-sm btn-primary pull-right submit-btn" style="display: none;">Next</button>
          <% else %>
            <button type="submit" class="btn btn-sm btn-primary pull-right submit-btn" style="display: none;">Finish</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>