<% @correct_incorrect_graph_data = @paper.correct_incorrect_graph_data %>
<% @correct_group = @correct_incorrect_graph_data[:series].detect{|grp| grp[:name] == "Correct"} %>
<% if @correct_group.blank? %>
  @correct_group = [0 , 0, 0, 0]
<% end %>
<div class="row graph-container">
  <div class="graph-heading font-22">
    PERCENT CORRECT
  </div>
  <div class="row">
    <div class="col-sm-3 graph-left">
      <div class="content">
        <div class="font-20 bold text-left">PERCENT CORRECT OVERALL</div>
        <div class="bold font-24">
          <%= percent_correct_overall = @paper.correct_percent_overall %> %
        </div>
        <div class="font-14">
          You correctly answered <%= percent_correct_overall %>% of the total set of questions. 
        </div>
      </div>
    </div>
    <div class="col-sm-6 graph-content">
      <div id="percent-correct-incorrect-graph" style="height: 380px; background-color: transparent;"></div>
    </div>
    <div class="col-sm-3 graph-left">
      <div class="content">
        You responded correctly to <%= @correct_group[:data][0] %>% of the first set of questions, <%= @correct_group[:data][1] %>% of the second set of questions, <%= @correct_group[:data][2] %>% of the third set of questions and <%= @correct_group[:data][3] %>% of the final set of questions.
      </div>
    </div>
  </div>
</div>