<% @time_info = @paper.get_sub_section_time_info %>
<% @dt = @paper.time_management_x_axis_data %>
<div class="row report-section-container">
  <div class="col-sm-12">
    <div class="report-section-container-inner">
      <div class="report-section-heading">sub-section time management</div>
      <div class="report-section-content">
        <div class="row">
          <div class="col-sm-3">
            <div class="content">
              <div class="box-3">
                <div>Critical Reasoning</div>
                <div>
                  <div class="text-s-5">
                    <%= @time_info["Critical Reasoning"][0] %>:<%= @time_info["Critical Reasoning"][1] %>
                  </div>
                  <div class="text-s-1">
                    Mins
                  </div>
                </div>
              </div>
              <div class="box-3">
                <div>Sentence Correction</div>
                <div>
                  <div>
                    <div class="text-s-5">
                      <%= @time_info["Sentence Correction"][0] %>:<%= @time_info["Sentence Correction"][1] %>
                    </div>
                    <div class="text-s-1">
                      Mins
                    </div>
                  </div>
                </div>
              </div>
              <div class="box-3">
                <div>Reading Comprehension</div>
                <div>
                  <div>
                    <div class="text-s-5">
                      <%= @time_info["Passage"][0] %>:<%= @time_info["Passage"][1] %>
                    </div>
                    <div class="text-s-1">
                      Mins
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div id="sub-section-time-management-graph" style="height: 300px; background-color: transparent;"></div>
          </div>
          <div class="col-sm-3">
            <div class="content">
              <div class="font-18 bold">MEAN TIME FOR ALL TEST TAKERS : <span class="color-g-orange">1:43 Minutes</span></div>
              <div class="explanation-head">Explanation</div>
              <div class="explanation-text">
                <p>
                  For all GMAT Exam scores recorded in the past three years, the mean time to complete a question in the Verbal section is 1:43 minutes.
                </p>
              </div>
              <div class="font-18 bold margin-t-30">
                RECOMMENDED TIME PER QUESTION : <span class="bold color-green">1:49 minutes</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
