<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <meta/>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'candidates', media: 'all' if current_user && current_user.is_candidate? %>
    <%= yield :extra_css %>
  </head>
  <body class="new <%= yield :body_classes %>">
    <nav class="navbar navbar-default <%= yield :navbar_classes %>">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed pull-left" data-toggle="slide-collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand hidden-xs" href="#">GMATRIC</a>
          <div class="hidden-md hidden-lg hidden-sm brand-xs">
            <a class="navbar-brand" href="/home.html">GMATRIC</a>
          </div>
          <% if current_user.blank? %>
            <form class="navbar-form login-button-form-xs pull-right hidden-sm  hidden-md  hidden-lg">
              <div class="hidden-md hidden-lg">
                <div class="form-group">
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#login-modal">Login</button>
                </div>
              </div>
            </form>
          <% end %>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <% if current_user.present? %>
              <% if current_user.is_admin? %>
                <li><%= link_to "Categories", categories_path %></li>
                <li><%= link_to "Levels", levels_path %></li>
                <li><%= link_to "Questions", questions_path %></li>
                <li><%= link_to "Passages", passages_path %></li>
                <li><%= link_to "Score schemes", index_score_schemes_path %></li>
                <li><%= link_to "Users", index_users_path %></li>
                <li><%= link_to "C-Mode", admin_question_path(Question.select("id").order("id asc").first.id) %></li>
              <% else %>
                <li class="active">
                  <%= link_to root_path do %>
                    Home
                  <% end %>
                </li>
                <li>
                  <%= link_to "Overview", overview_path %>
                </li>
                <li>
                  <%= link_to "About us", about_us_path %>
                </li>
                <li>
                  <%= link_to "Contact us", contact_us_path %>
                </li>
              <% end %>
            <% end %>
          </ul>
          <% if current_user.present? %>
            <ul class="nav navbar-nav navbar-right">
              <%# if current_user && current_user.is_candidate? && current_user.current_subscription.blank? %>
                <!--li>
                  <%#= link_to buy_new_path, class: "btn btn-default upgrade-btn" do %>
                    Upgrade for more tests
                  <%# end %>
                </li-->
              <%# end %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.email %> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li>
                    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
                  </li>
                </ul>
              </li>
            </ul>
          <% else %>
            <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "navbar-form navbar-right hidden-xs"}) do |f| %>
              <div class="hidden-sm hidden-xs">
                <div class="form-group">
                  <%= f.text_field :email, required: false, autofocus: true, class: "", placeholder: "Email" %>
                </div>
                <div class="form-group">
                  <%= f.password_field :password, required: false, class: "", placeholder: "Password" %>
                </div>
                <div class="form-group">
                  <%= f.button :submit, "Log in", class: "btn btn-primary" %>
                </div>
              </div>
              <div class="hidden-md hidden-lg">
                <div class="form-group">
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#login-modal">Login</button>
                </div>
              </div>
            <% end %>
          <% end %>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>
    <div class="container">
      <% if notice %>
        <div class="alert alert-success">
          <%= notice %>
        </div>
      <% end %>
      <% if alert %>
        <div class="alert alert-danger">
          <%= alert %>
        </div>
      <% end %>
    </div>
    <div class="container <%= yield :main_container_classes %>">
      <%= yield %>
    </div>
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="login-modal-label">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#login" aria-controls="login" role="tab" data-toggle="tab">Sign in</a></li>
              <li role="presentation"><a href="#sign-up" aria-controls="sign-up" role="tab" data-toggle="tab">Sign up</a></li>
            </ul>
          </div>
          <div class="modal-body">
            <%= render "users/sessions/auth_container" %>
          </div>
        </div>
      </div>
    </div>
    <div class="container footer-container">
      <footer>
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
            <div class="text-center">
              GMATRIC &copy; <%= Time.now.year %>
            </div>
          </div>
          <!--div class="col-sm-3 col-xs-3">
            <div class="footer-menu">
              <%#= link_to "Contact Us", contact_us_url %>
              <%#= link_to "Disclaimer", disclaimer_url %>
            </div>
          </div-->
        </div>
      </footer>
    </div>
    <%= javascript_include_tag 'application' %>
    <% if current_user && current_user.is_admin? %>
      <%= tinymce %>
    <% end %>
    <% if current_user && current_user.is_candidate? %>
      <script src="https://www.paypalobjects.com/api/checkout.js"></script>
    <% end %>
    <script type="text/javascript">
      $.ajaxSetup({
        headers: {
          'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
        }
      });
    </script>
    <%= yield :footer_content %>
    <%= yield :bottom_js %>
  </body>
</html>

