<!DOCTYPE html>
<html>
  <head>
    <title>Gmatprep</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <meta/>
    <%= tinymce %>
  </head>
  <body class="application">
    <%= render "shared/navbar" %>
    <div class="container-fluid padding-t-100">
      <%= render "shared/notice" %>
      <div class="row">
        <div class="col-sm-12">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
