<!DOCTYPE html>
<html>
  <head>
    <title>Gmatprep</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <style type="text/css">
      .navbar-default {
        background-color: #fff;
      }
    </style>
    <script>
      var payment_init_url = "<%= payment_init_url(format: :json) %>";
    </script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class="height-100">
    <%= render "shared/navbar" %>
    <div class="container-fluid candidate-container height-100 padding-t-64">
      <% if notice || alert %>
        <div class="row">
          <div class="col-sm-12">
            <% if notice %>
              <p class="notice alert-success"><%= notice %></p>
            <% end %>
            <% if alert %>
              <p class="alert alert-success"><%= alert %></p>
            <% end %>
          </div>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
