<!DOCTYPE html>
<html class="">
  <head>
    <title>Gmatprep</title>
    <%= csrf_meta_tags %>
    <meta/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'home', media: 'all' %>
  </head>
  <body class="padding-t-80 public">
    <%= render "shared/header" %>
    <div class="container">
      <%= render "shared/notice" %>
      <%= yield %>
    </div>
    <%= javascript_include_tag 'application' %>
  </body>
</html>